DATABASE_URL=postgresql://postgres:1234@localhost:5432/Task_Tracker
DATABASE_POOL_SIZE=20
DATABASE_MAX_OVERFLOW=40
SECRET_KEY=super-secret-key-change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
